@model PaginationList<Paciente>
<style>
    td {
        border: none !important;
        border-top: 2px solid #000 !important;
    }
</style>
<div class="page-inner" style="padding-top:12px !important">
    <div class="row">
        <div class="container-fluid d-flex justify-content-center col-12 col-md-11">
            @if (Model.Count > 0)
            {
                <div class="card col-md-12" style="border-radius:10px">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-borderless">
                                <thead class="text-black-50 font-weight-bold">
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.First().NomePaciente)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.First().CPF)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.First().EmailPaciente)
                                        </th>
                                        <th>
                                            (@Html.DisplayNameFor(model => model.First().DDD)) @Html.DisplayNameFor(model => model.First().Telefone)
                                        </th>
                                        <th class="text-center">
                                            Editar
                                        </th>
                                        <th class="text-center">
                                            Excluir
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="text-dark font-weight-bold">
                                    @foreach (var item in Model)
                                    {
                                        <tr id="carregarPaciente" data-id="@item.PacienteId">
                                            <td>
                                                @Html.DisplayFor(modelItem => item.NomePaciente)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CPF)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EmailPaciente)
                                            </td>
                                            <td>
                                                (@Html.DisplayFor(modelItem => item.DDD)) @Html.DisplayFor(modelItem => item.Telefone)
                                            </td>
                                            <td class="text-center">
                                                <a asp-action="paginapaciente" asp-route-id="@item.PacienteId" class="btn btn-link"><i class="fa fa-edit text-primary h4"></i></a>
                                            </td>
                                            <td class="text-center">
                                                <a href="javascript:void(0)" class="btn btn-link deletePaciente" data-id="@item.PacienteId"><i class="fa fa-times text-danger h4"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            }
            else
            {
                <span class="display-4 mt-5 text-center font-weight-bold">Pacientes não encontrado</span>
            }
        </div>
    </div>
</div>
<input asp-for="Pagination.NumberPag" type="hidden" />
<input asp-for="Pagination.RecordPerPage" type="hidden" />
<input asp-for="Pagination.TotalPages" type="hidden" />
<input asp-for="Pagination.TotalRecords" type="hidden" />

<script>
    function LoadmodalDelete(e) {
        let id = $(e.currentTarget).attr('data-id');
        $.ajax({
            type: 'GET',
            url: 'Pacientes/Delete/' + id,
            async: true,
            contentType: 'application/json',
            success: function (partial) {
                $('#modal').html(partial);
                $('#Tmodal').modal();
            },
            error: function (code) {
                $('#modal').html(`<div class="text-center"><h4>Algo deu errado, o erro ${code.status} aconteceu, se o problema persistir entre em contato</h4>
            <input type="button" class="btn btn-sm btn-outline-light text-muted font-weight-bold border-0" data-dismiss="modal" value="FECHAR" /></div>`);
                $('#Tmodal').modal();
            }
        });
    }
    $('.deletePaciente').click(LoadmodalDelete)
</script>
