@model PaginationList<Paciente>
<style>
    td {
        border: none !important;
        border-top: 2px solid #000 !important;
    }
</style>
<div class="page-inner" style="padding-top:12px !important">
    <div class="row">
        <div class="container-fluid d-flex justify-content-center col-12 col-md-11">
            <div class="card col-md-12" style="border-radius:18px">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-borderless">
                            <thead class="text-black-50 font-weight-bold">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.First().NomePaciente)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.First().CPF)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.First().EmailPaciente)
                                    </th>
                                    <th>
                                        (@Html.DisplayNameFor(model => model.First().DDD)) @Html.DisplayNameFor(model => model.First().Telefone)
                                    </th>
                                    <th class="text-center">
                                        Editar
                                    </th>
                                    <th class="text-center">
                                        Excluir
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="text-dark font-weight-bold">
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NomePaciente)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CPF)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EmailPaciente)
                                        </td>
                                        <td>
                                            (@Html.DisplayFor(modelItem => item.DDD)) @Html.DisplayFor(modelItem => item.Telefone)
                                        </td>
                                        <td class="text-center">
                                            <a href="#" class="btn btn-link editarPaciente"><i class="fa fa-edit text-primary h4"></i></a>
                                        </td>
                                        <td class="text-center">
                                            <a href="#" class="btn btn-link deletePaciente"><i class="fa fa-times text-danger h4"></i><a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input asp-for="Pagination.NumberPag" type="hidden"/>
<input asp-for="Pagination.RecordPerPage" type="hidden"/>
<input asp-for="Pagination.TotalPages" type="hidden"/>
<input asp-for="Pagination.TotalRecords" type="hidden"/>